<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <target xsi:type="Null" name="blackhole" />

    <target name="database" xsi:type="Database"
              dbProvider="Npgsql.NpgsqlConnection, Npgsql"
              connectionString="User ID=postgres;Password=password;Host=localhost;Port=5432;Database=xpt;Pooling=true;">

<!--*************************************-->
      <!--
          CREATE TABLE app_logs
          ( 
			        Id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
              Application character varying(100) NULL,
              app_user character varying(100) NULL,
              Logged text,
              Level character varying(100) NULL,
              Message character varying(8000) NULL,
              Logger character varying(8000) NULL, 
              Callsite character varying(8000) NULL, 
              Exception character varying(8000) null,
              properties character varying(8000) NULL,             
              client_ip character varying(80) NULL,               
              add_time character varying(80) NULL                 
          )
-->

      <commandText>
        insert into app_logs (
        Application, app_user, Logged, Level, Message,
        Logger, CallSite, Exception , properties , client_ip, add_time
        ) values (
        @Application, @app_user, @Logged, @Level, @Message,
        @Logger, @Callsite, @Exception, @properties, @client_ip, @add_time
        );
      </commandText>

      <parameter name="@application" layout="AspNetCoreNlog" />
      <parameter name="@app_user" layout="${aspnet-user-identity}" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@properties" layout="${all-event-properties:separator=|}" />
      <parameter name="@client_ip" layout="${aspnet-request-ip}" />
      <parameter name="@add_time" layout="{longdate}" />
      
      <!--****************************************-->
      
      
      <!--      
      CREATE TABLE public.app_logs (
          traceid serial primary key,
          eventid varchar(450) NULL,
          app_user varchar(450) NULL,
          application varchar(450) NULL,
          log_level varchar(8) NULL,
          category varchar(450) NULL,
          message varchar(8000) NULL,
          properties varchar(8000) NULL,
          "exception" varchar(8000) NULL,
          clientip varchar(450) NULL,
          addtime timestamp NULL  )
      --><!--


      <commandText>
        insert into app_logs (
        eventId, app_user, application, log_level,
        category, message, properties,"exception",clientip,addtime
        ) values (
        @eventId, @app_user, @application, @log_level,
        @category, @message, @properties,@exception
        --><!--,@clientip,@addtime--><!--
        );
      </commandText>

      --><!--<parameter name="@traceId" layout="${aspnet-TraceIdentifier}" />--><!--
      <parameter name="@eventId" layout="${event-properties:EventId}" />
      <parameter name="@app_user" layout="${aspnet-user-identity}" />
      <parameter name="@application" layout="APP_WEB" />
      <parameter name="@log_level" layout="${level}" />
      <parameter name="@category" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@properties" layout="${all-event-properties:separator=|}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@clientip" layout="${aspnet-request-ip}" />
      <parameter name="@addtime" layout="${date:universalTime=True}" />-->
      
      
      <!--****************************************-->
      
      
    </target>
    
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <logger name="*" minlevel="Trace" writeTo="database" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules> 
  
</nlog>